.profileCart{
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
}
.profileImage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.profileImage>img:nth-of-type(1){
    width: 100%;
}

.profileImage>img:nth-of-type(2){
    position: absolute;
    width: 6rem;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
    border-radius: 50%;
}
.profileName{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;
    align-items: center;
}
.profileName>span:nth-of-type(1){
    font-weight: bold;
    
}

.followStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    flex-direction: column;
}
.followStatus>hr{
    width: 85%;
    border: 1px solid var(--hrColor);
}
.followStatus>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 1rem;
}
.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    flex-direction: column;
}

.follow>span:nth-of-type(1){
    font-weight: bold;
}

.follow>span:nth-of-type(2){
    color: var(--gray);
    font-size: 13px;
}
.vl{
    height: 150%;
    border-left: 1px solid var(--gray);
}
.myProfile{
    font-weight: bold;
    color: orange;
    align-self:   center;
     margin-bottom: 1rem;
     cursor: pointer;
}